.dialogs {
	display: grid;
	grid-template-columns: 4fr 8fr;
}

.dialogsItems {
	padding: 20px;
}

.dialog {
	padding-bottom: 10px;
}

.dialog a.activeLink {
	color: gold;
}

.dialog a {
	color: black;
	text-decoration: none;
}

.masseges {
	padding: 20px;
}

.massege {
	padding-bottom: 10px;
}
