.dialogs {
	display: grid;
	grid-template-columns: 4fr 8fr;
}

.dialogsItems {
	padding: 20px;
}

.dialog {
	padding-bottom: 10px;
}

.dialog.active {
	color: gold;
}

.masseges {
	padding: 20px;
}

.massege {
	padding-bottom: 10px;
}
